/* Universal */
* {
    box-sizing: border-box;    /* Tamaño de las cajas hasta el borde */
}

/* Documento html */
html {
    height: 100%;    /* Altura del HTML */
}

/* Cuerpo de la página */
.cuerpo {
    border-radius: 10px;                        /* Borde redondeado */
    height: 100%;                               /* Altura del body */
    margin: 0;                                  /* Margenes del body */
    display: grid;                              /* Usar grid para la estructura de la página */
    grid-template-columns: 100%;                /* 1 columna que ocupa todo el ancho */
    grid-template-rows: auto 75px 1fr 65px;     /* 3 filas personalizadas y 1fr en body */
    min-width: 815px;
    min-height: 100vh;
}

/* Contenedor que contiene los elementos de la cabecera */
.contenedor-cabecera {
    height: 100%;                           /* Altura del contenedor */
    background-color: #0c4ba4;            /* Color de fondo */
    display: flex;                          /* Usar flex para poner horizontalmente los elementos */
    justify-content: space-between;         /* Separar los elementos con espacio intermedio */
    padding: 15px 30px 15px 30px;             /* Separación con el borde */
    align-items: center;                    /* Centrar los elementos verticalmente */
}

/* Contenedor que contiene la imagen con el logo */
.contenedor-cabecera-marca {
    height: 100%;               /* Altura del contenedor */
    display: flex;              /* Usar flex para poner horizontalmente los elementos*/
    gap: 25px;                  /* Espacio entre cada elemento (flex) */
    align-items: center;        /* Centrar los elementos verticalmente */
}

/* Contenedor de la imagen */
.contenedor-cabecera-marca img {
    height: 100px;                /* Altura de la imagen */
    place-items: stretch;       /* Ajutar la imagen para que se vea entera */
    border-radius: 10px;        /* Bordes redondeados */
}

/* <p> Taller de Reparación de Gafas VR */
.titulo-cabecera {
    color: white;         /* Color de texto blanco */
    font-size: 3rem;        /* Tamaño del texto */
    margin: 0;              /* Quitar el margen */
}

/* <p> Alumnos de 2º SMR */
.subtitulo-cabecera {
    color: rgba(255, 255, 255, 0.6);        /* Color "transparentado" */
    margin: 0;                                /* Quitar el margen */
    font-size: 2rem;
}

/* Contenedor del enlace a la página de contacto */
.contenedor-cabecera-boton {
    background-color: aliceblue;        /* Color de fondo del botón */
    height: auto;
    width: auto;
    border-radius: 10px;
}

/* Enlace a página de contacto */
.cabecera-boton {
    display: inline-block;      /* Mostrar como bloque en linea */
    padding: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/* Menú de navegación */
.menu {
    background-color: #0c4ba4d5;        /* Color de fondo */
    align-content: center;
}

.menu-lista {
    display: flex;
    list-style-type: none;
    /* gap: 15px; */
    align-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 0;
}

.menu-lista li {
    align-content: center;
    display: inline-block;
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.menu-lista li a {
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 100%;
    align-content: center;
}

.menu-lista li a p {
    padding: 0;
    margin: 0;
    justify-self: center;
}

/* Main de la página */
.contenido-principal {
    background-color: red;      /* Color provisional */
}

/* Footer de la página */
.pie {
    background-color: yellow;       /* Color provisional */
}