/* Universal */
* {
    box-sizing: border-box;    /* Tamaño de las cajas hasta el borde */
}

/* Documento html */
html {
    height: 100%;    /* Altura del HTML */
}

/* Cuerpo de la página */
.cuerpo {
    border-radius: 10px;                            /* Borde redondeado */
    height: 100%;                                   /* Altura del body */
    margin: 0;                                      /* Margenes del body */
    display: grid;                                  /* Usar grid para la estructura de la página */
    grid-template-columns: 100%;                    /* 1 columna que ocupa todo el ancho */
    grid-template-rows: auto 37.5px 1fr 50px;       /* 3 filas personalizadas y 1fr en body */
    min-width: 580px;                               /* Ancho mínimo */
    min-height: 100vh;                              /* Altura del ViewPort */
}

/* Contenedor que contiene los elementos de la cabecera */
.contenedor-cabecera {
    height: 100%;                           /* Altura del contenedor */
    background-color: #0c4ba4;            /* Color de fondo */
    display: flex;                          /* Usar flex para poner horizontalmente los elementos */
    justify-content: space-between;         /* Separar los elementos con espacio intermedio */
    padding: 7.5px 15px 7.5px 15px;         /* Separación con el borde */
    align-items: center;                    /* Centrar los elementos verticalmente */
}

/* Contenedor que contiene la imagen con el logo */
.contenedor-cabecera-marca {
    height: 100%;               /* Altura del contenedor */
    display: flex;              /* Usar flex para poner horizontalmente los elementos*/
    gap: 20px;                  /* Espacio entre cada elemento (flex) */
    align-items: center;        /* Centrar los elementos verticalmente */
}

/* Contenedor de la imagen */
.contenedor-cabecera-marca img {
    height: 60px;               /* Altura de la imagen */
    place-items: stretch;       /* Ajutar la imagen para que se vea entera */
    border-radius: 10px;        /* Bordes redondeados */
}

/* <p> Taller de Reparación de Gafas VR */
.titulo-cabecera {
    color: white;         /* Color de texto blanco */
    font-size: 1.5rem;      /* Tamaño del texto */
    margin: 0;              /* Quitar el margen */
}

/* <p> Alumnos de 2º SMR */
.subtitulo-cabecera {
    color: rgba(255, 255, 255, 0.6);        /* Color "transparentado" */
    margin: 0;                                /* Quitar el margen */
    font-size: 1rem;                          /* Tamaño de la letra */
}

/* Contenedor del enlace a la página de contacto */
.contenedor-cabecera-boton {
    background-color: aliceblue;        /* Color de fondo del botón */
    height: auto;                         /* Altura automatica */
    width: auto;                          /* Anchura automatica */
    border-radius: 10px;                  /* Borde redondeado */
    border: 0.1rem solid black;         /* Borde de la caja */
    transition: 0.3s ease-out;            /* Ajuste de la animación */
}

/* Ratón por encima del botón */
.contenedor-cabecera-boton:hover {
    transform: scale(1.03);     /* Animación de escalada */
}


/* Enlace a página de contacto */
.cabecera-boton {
    display: inline-block;      /* Mostrar como bloque en linea */
    padding: 0.6rem;            /* Margen interior */
    text-decoration: none;      /* Sin decoración */
    color: black;             /* Color de texto */
    font-size: 0.9rem;          /* Tamaño de letra */
}

/* Menú de navegación */
.menu {
    background-color: #f0f0f0;        /* Color de fondo */
    align-content: center;              /* Alinear verticalmente en el centro */
}

/* Lista del menú de navegación */
.menu-lista {
    display: grid;                                                  /* Contenedor flexible grid */
    grid-template-columns: repeat(auto-fit, minmax(0px, auto));     /* Columnas del grid */
    grid-template-rows: 100%;                                       /* Filas del grid */
    list-style-type: none;                                          /* Estilo de la lista */
    align-content:center;                                           /* Alinear verticalmente en el centro */
    margin: 0;                                                      /* Quitar el margen */
    height: 100%;                                                   /* Ocupa todo el div en altura */
    width: 100%;                                                    /* Ocupa todo el div en anchura */
    place-items: center;                                            /* Alinear los items al centro */
    place-content: start;                                           /* Alinear el contenido al centro */
    border-top: 1px solid darkblue;                               /* Borde superior */
    padding: 0;                                                     /* Quitar el margen interior */
    background-color: white;                                      /* Color de fondo */
}

/* Cada elemento de la lista del menú de navegación */
.menu-lista li {
    align-content: center;                    /* Alinear verticalmente en el centro */
    display: inline-block;                    /* Comportarse como elemento en linea */
    height: 100%;                             /* Altura completa */
    width: 100%;                              /* Anchura completa */
    border-left: 1px solid darkblue;        /* Borde izquierdo */
    border-right: 1px solid darkblue;       /* Borde derecho */
}

/* Primer elemento de la lista */
.menu-lista li:first-child {
    border-left: 1.9px solid darkblue;      /* Borde izquierdo */
}

/* Clase para seleccionar en el menú que página estamos */
.menu-sombreado {
    background-color: #0c4ba433;        /* Color de fondo */
}

/* Clase para seleccionar en el menú que página estamos */
.menu-sombreado a {
    border-bottom: 3px solid #0c4ba4;       /* Borde inferior */
    transform: scale(0.93);                 /* Animación de escalado */
}


/* Último elemento de la lista */
.menu-lista li:last-child {
    border-right: 2px solid darkblue;       /* Borde derecho */
}

/* Los enlaces de los elementos de la lista */
.menu-lista li a {
    display: inline-block;            /* Comportarse como elemento en linea */
    height: 100%;                     /* Altura completa */
    width: 100%;                      /* Anchura completa */
    align-content: center;            /* Alinear verticalmente el contenido */
    text-decoration: none;            /* Quitar decoración al texto */
    color: black;                   /* Color de texto */
    transition: 0.2s ease-out;        /* Ajuste de la animación */
}

/* Ratón por encima de los enlaces */
.menu-lista li a:hover {
    transform: scale(0.93);                   /* Animación de escalada */
    border-bottom: 3px solid #0c4ba4;       /* Borde inferior */
}

/* El parrafo de cada enlace de los elementos de la lista */
.menu-lista li a p {
    padding: 0 25px;            /* Quitar el margen interior superior e inferior y añado margen interior a los lados */
    margin: 0;                  /* Quitar el margen */
    justify-self: center;       /* Alinearse a si mismo horizontalmente en el centro */
    background-color: #ffffff00;
}

/* Main de la página */
.contenido-principal {
    background-color: #f0f0f0;      /* Color provisional */
}

/* Footer de la página */
.pie {
    background-color: yellow;       /* Color provisional */
}